<body>
    <h1>
        <%= title %>
    </h1>
    <ul>
        <li>
            <a href="/admin/user/list">Gestion des des utilisateurs</a>
        </li>
        <li>
            <a href="/admin/organization/list">Gestion des demandes des organisations</a>
        </li>
    </ul>
</body>