<body>
    <h1>
        <%= title %>
    </h1>
    <ul>
        <li>
            <a href="/recruiter/manage">Gestion des offres d'emploi</a>
        </li>
        <li>
            <a href="/recruiter/manage/ficheposte/create">Gestion des fiches de poste</a>
        </li>
        <li>
            <a href="/recruiter/requests/list">Gestion des demandes d'intégration</a>
        </li>
    </ul>
</body>