<body>
    <h1>
        <%= title %>
    </h1>
    <ul>
        <li>
            <a href="/recruiter/offresemploi/list">Gestion des offres d'emploi</a>
        </li>
        <li>
            <a href="/recruiter/fichesposte/list">Gestion des fiches de poste</a>
        </li>
        <li>
            <a href="/recruiter/requests/list">Gestion des demandes d'intégration</a>
        </li>
    </ul>
</body>