<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="stylesheets/recruiter_index.css"/>
    <title>WORKYS</title>
  </head>
<body>
    <div id="main_overlay"></div>
    <script type="module" src="/javascripts/index.js"></script>
    <%- include('../header.ejs'); %>
    <main class="p-2">
        <h1>
            <%= title %>
        </h1>
        <ul class="p-0">
            <li class="border border-2 border-dark p-2 m-2 d-block">
                <a class="w-100 h-100 d-block" href="/recruiter/offresemploi/list">Gestion des offres d'emploi</a>
            </li>
            <li class="border border-2 border-dark p-2 m-2 d-block">
                <a class="w-100 h-100 d-block" href="/recruiter/fichesposte/list">Gestion des fiches de poste</a>
            </li>
            <li class="border border-2 border-dark p-2 m-2 d-block">
                <a class="w-100 h-100 d-block" href="/recruiter/fichesposte/list">Voir les candidatures</a>
            </li>
        </ul>
    </main>
    <%- include('../nav.ejs'); %>
</body>
</html>