<nav class="nav_sidebar bg-white">
    <div class="nav_content m-5">
        <h1>MENU</h1>
        <ul>
            <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                <a href="/">Accueil</a>
            </li>
            <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                <a href="/user/me">Mon compte</a>
            </li>
            <% if(user.user_role === 'recruteur') { %>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/recruiter">Espace recruteur</a>
                </li>
            <% } else { %>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/organization/list">Rejoindre une organisation</a>
                </li>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/organization/create">Créer une organisation</a>
                </li>
            <% } %>
            <% if(user.is_admin) { %>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/admin">Espace administrateur</a>
                </li>
            <% } %> 
            <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                <a href="/connect/logout">Se déconnecter</a>
            </li>
        </ul>
        <div id="exit_nav" class="border border-1 border-white m-1">
            <p class="py-1 px-2 m-0">X</p>
        </div>
    </div>
</nav>