<header class="navbar fixed-top border-bottom border-2 border-dark z-0">
    <a href="/" class="navbar-brand px-3">WORKYS</a>
    <img src="/images/burger_icon.svg" id="burger_icon" class="px-3"/>
</header>