<nav class="nav_sidebar bg-white">
    <div class="nav_content m-5">
        <h1>MENU</h1>
        <ul>
            <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                <a href="/">Accueil</a>
            </li>
            <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                <a href="/user/me">Mon compte</a>
            </li>
            <% if(user.user_role != 'utilisateur' && user.org_siren !== null) { %>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/recruiter">Espace recruteur</a>
                </li>
            <% } else { %>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/organization/list">Rejoindre une organisation</a>
                </li>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/organization/create">Créer une organisation</a>
                </li>
            <% } %>
            <% if(user.user_role === 'administrateur') { %>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/admin">Espace administrateur</a>
                </li>
            <% } %> 
            <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                <a href="/connect/logout">Se déconnecter</a>
            </li>
        </ul>
        <p id="exit_nav">X</p>
    </div>
</nav>