<body>
    <h1>
        <%= title %>
    </h1>
    <ul>
        <li>
            Gestion d'offre
        </li>
        <li>
            <a href="/recruiter/requests/list">Gestion des demandes d'intégration</a>
        </li>
    </ul>
</body>