<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S'INSCRIRE</title>
  </head>
  <body>
    <main class="d-flex justify-content-center">
      <section id="register_wrapper" class="p-3 m-3 border border-2 border-dark">
        <h1>WORKYS</h1>
        <form method="post" action="/connect/create" class="container d-flex flex-column justify-content-center">
            <div class="d-flex">
                <div class="p-2 d-inline-block flex-grow-1">
                    <h2>Prénom</h2>
                    <input type="text" name="fname" placeholder="Entrer votre prénom..." class="border border-2 border-dark py-1 px-2"/>
                </div>
                <div class="p-2 d-inline-block flex-grow-1">
                    <h2>Nom</h2>
                    <input type="text" name="lname" placeholder="Entrer votre nom..." class="border border-2 border-dark py-1 px-2"/>
                </div>
            </div>
            <div class="d-flex">
                <div class="p-2 d-inline-block flex-grow-1">
                    <h2>Numéro de téléphone</h2>
                    <input type="number" name="phnbr" nbrplaceholder="Entrer votre numéro de téléphone..." class="border border-2 border-dark py-1 px-2"/>
                </div>
                <div class="p-2 d-inline-block flex-grow-1">
                    <h2>Email</h2>
                    <input type="email" name="mail" placeholder="Entrer votre email..." class="border border-2 border-dark py-1 px-2"/>
                </div>
            </div>
            <div class="d-flex">
                <div class="p-2 d-inline-block flex-grow-1">
                    <h2>Mot de passe</h2>
                    <input type="password" name="pwd" placeholder="Entrer votre mot de passe..." class="border border-2 border-dark py-1 px-2"/>
                </div>
            </div>
            <input type="submit" class="p-4 m-2 border border-2 border-dark d-flex justify-content-center">
              S'inscrire
            </div>
            <h3>Déjà inscrit.e ? <a href="/connect">Connectez vous !</a></h3>
          </form>
      </section>
    </main>
  </body>
</html>