<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/register.css"/>
    <title>S'INSCRIRE</title>
  </head>
  <body>
    <%- include('./error.ejs'); %>
    <main class="d-flex justify-content-center">
      <section id="register_wrapper" class="border border-2 border-dark">
        <h1>WORKYS</h1>
        <form method="post" action="/connect/create" class="container d-flex flex-column justify-content-center needs-validation" id="creation-form" novalidate>
            <div class="d-flex row">
                <div class="p-2 d-inline-block flex-grow-1 col">
                    <h2>Prénom</h2>
                    <input type="text" name="fname" placeholder="Entrer votre prénom..." class="border border-2 border-dark py-1 px-2" required/>
                    <div class="invalid-feedback">
                      Veuillez renseigner votre prénom
                    </div>
                  </div>
                <div class="p-2 d-inline-block flex-grow-1 col">
                    <h2>Nom</h2>
                    <input type="text" name="lname" placeholder="Entrer votre nom..." class="border border-2 border-dark py-1 px-2" required/>
                    <div class="invalid-feedback">
                        Veuillez renseigner votre nom
                    </div>
                </div>
            </div>
            <div class="d-flex row">
                <div class="p-2 d-inline-block flex-grow-1 col">
                    <h2>Numéro de téléphone</h2>
                    <input type="text" name="phnbr" placeholder="Entrer votre numéro..." class="border border-2 border-dark py-1 px-2" required/>
                    <div class="invalid-feedback">
                      Veuillez renseigner votre numéro de téléphone
                    </div>
                </div>
                <div class="p-2 d-inline-block flex-grow-1 col">
                    <h2>Email</h2>
                    <input type="email" name="mail" placeholder="Entrer votre email..." class="border border-2 border-dark py-1 px-2" required/>
                    <div class="invalid-feedback">
                        Veuillez renseigner votre e-mail
                    </div>
                </div>
            </div>
            <div class="d-flex row">
                <div class="p-2 d-inline-block flex-grow-1 col">
                    <h2>Mot de passe</h2>
                    <input type="password" name="pwd" placeholder="Entrer votre mot de passe..." class="border border-2 border-dark py-1 px-2" id="password-field" 
                      pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[\#\.\,\;\?\!\@\$\%\^\&\*\(\)\-]).{12,}" required/>
                    <div class="invalid-feedback">
                      Le mot de passe doit être composé d'au minimum 12 caractères comprenant des majuscules, des minuscules, des chiffres et des caractères spéciaux
                    </div>
                </div>
                <div class="p-2 d-inline-block flex-grow-1 col">
                  <h2>Confirmer votre mot de passe</h2>
                  <input type="password" name="confirm_pwd" placeholder="Entrer votre mot de passe..." class="border border-2 border-dark py-1 px-2" id="password-field-check" required/>
                  <div class="invalid-feedback">
                    Veuillez confirmer votre mot de passe
                  </div>
                </div>
            </div>
            <!--
              Le mot de passe doit être composé d'au minimum 12 caractères
              comprenant des majuscules, des minuscules, des chiffres et des caractères spéciaux
            -->
            <input type="submit" class="m-2 border border-2 border-dark d-flex justify-content-center" value="S'inscrire"/>
            <h3>Déjà inscrit.e ? <a href="/connect">Connectez vous !</a></h3>
          </form>
      </section>
    </main>
    <script src="/javascripts/bootstrap-form-validation-register.js"></script>
  </body>
</html>