<body>
    <h1><%= title %></h1>
    <form method="post" action="/organization/create/validate">
        <input type="text" name="org_siren" placeholder="SIREN"/>
        <input type="text" name="org_name" placeholder="Nom de l'organisation"/>
        <input type="text" name="org_type" placeholder="Type de l'organisation"/>
        <input type="text" name="org_adress" placeholder="Adresse de l'organisation"/>
        <input type="submit" value="Envoyer"/>
    </form> 
</body>