<body>
    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Mail</th>
                <th>Valider</th>
                <th>Refuser</th>
            </tr>
        </thead>
        <tbody>
            <% requests.forEach((request)=> { %>
                <tr> 
                    <td> 
                        <%= request.email %> 
                    </td>
                    <td> 
                        <button onclick="window.location.href='/recruiter/requests/<%= request.user %>/validate'">Accepter</button>
                    </td>
                    <td> 
                        <button onclick="window.location.href='/recruiter/requests/<%= request.user %>/reject'">Refuser</button>
                    </td> 
                </tr>
            <% }) %>
        </tbody>
</body>