@import "./styles.css";

body, html {
    width: 100%;
    height: 100%;
}

header {
    height: var(--header-height);

}

#burger_icon {
    height: 30px;
}

.navbar-brand {
    font-weight: 700;
    font-size: 28px;
}

main {
    position: fixed;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    width: 100%;
    transition: width .5s ease-in-out;
    overflow: scroll;
}

.nav_sidebar {
    box-sizing: content-box;

    width: 0px;
    position: fixed;
    height: 100%;
    right: 0 !important;
    z-index: 3000;
    overflow: hidden;
    transition: width .5s ease-in-out;
    text-overflow: ellipsis;

    background-color: black !important;
    color: white !important;
}

.nav_sidebar h1 {
    color: white !important;
}

.nav_sidebar a {
    color: white !important;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

.nav_sidebar .nav_content {
    white-space: nowrap;
}

.nav_sidebar ul {
    list-style-type: none;
    padding: 0;
}

.nav_sidebar li {
    box-sizing: content-box;
    overflow: hidden;
}

.nav_sidebar li:hover {
    background-color: white;
}

.nav_sidebar li:hover a {
    color: black !important;
}

#exit_nav {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.active {
    display: block !important;
    opacity: 1 !important;
}

header {
    z-index: 0 !important;
}

nav {
    z-index: 1;
}

#main_overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
    z-index: 1000;
    opacity: 0;
}

.desc_offer {
    height: 280px;
}

th {
    border: 1px solid black;
}

.description {
    max-height: 160px;
    overflow: hidden;
}

td {
    border-right: 1px solid lightgrey;
    max-width: 700px;
}