@import url("/css/bootstrap.min.css");
@import url("/webfonts/Montserrat.css");

:root {
    --header-height: 68px;
    --nav-width: 320px;

    --black-color: #000000;
    --light-grey-color: #8C8C8C;
    --dark-grey-color: #4D4D4D;

}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, p {
    margin: 4px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
}

h3 {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grey-color);
}

h4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grey-color);
}

p {
    text-align: justify;
}

input, select, textarea {
    border-radius: 0;
    border: 1px solid black;
    padding: 4px 6px;
    height: 30px;
}

textarea {
    height: 200px;
}

input[type=text]:focus {
    outline: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid black;
    transform: translateY(-0.075em);
    transition: background-color .3s ease-in-out;

}

input[type="checkbox"]:checked {
    background-color: var(--black-color);
}

input[type=submit], button {
    padding: 2px 6px; 
    background:#FFF; 
    color: #000;
    border: 1.4px solid black;
    border-radius: 0; 
    font-weight: 500;
    transition: color .5s ease-in-out;
    transition: background-color .2s ease-in-out;

}

input[type=submit]:hover, button:hover {
    background:#000; 
    color: #FFF;
    font-weight: 500;
}

td {
    font-size: 14px;
}